:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --effect-color: #ffffff;
  --title-text-color: #757575;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
/* body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #e5e5e5;
} */
/* a {
  text-decoration: none;
}
ul {
  list-style: none;
} */
/* .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
} */
/* logo */
/* .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  align-items: center;
} */
/* .logo-header {
  color: #000000;
} */
/* .logo-footer {
  color: var(--effect-color);
} */

/* header + navigation */
/* header {
  background-color: var(--effect-color);
  border-bottom: 1px solid #ececec;
} */
/* .site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  transition: color 250ms var(--timing-function);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  fill: var(--title-text-color);
  transition: all 250ms var(--timing-function);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */
/*  main header */

/* .header-title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--effect-color);
} */
/* .header {
  max-width: 1600px;
  height: 600px; что-то одно,или вертикальные паддинги или высота
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  color: var(--effect-color);
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
} */
/* .button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--effect-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-width: 0;
} */
/* .header .button {
  display: block;
} */
/* .icon-header {
  margin-right: 10px;
  vertical-align: middle;
} */
/* main section */
/* .header h1 {
  margin-top: 0;
  margin-bottom: 30px;
} */
/* .description {
  padding-top: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.section .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.site-nav,
.contact-nav,
.site-header-content {
  display: flex;
}
.site-header-content {
  align-items: center;
}
.site-nav-item:not(:first-child) {
  margin-left: 50px;
}
.site-nav-item {
  line-height: 80px;
}
.current {
  position: relative;
  display: block;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
} */
/* .site-nav-contact-item {
  margin-right: 30px;
  transition: color 250ms var(--timing-function);
} */
/* .top-icon {
  margin-right: 85px;
} */
/* .list {
  list-style: none;
  margin: 0;
  padding: 0;
} */
/* .contact-nav {
  margin-left: auto;
} */
/* .section {
  padding-bottom: 94px;
} */
/* .features,
.our-work,
.our-team,
.clients {
  display: flex;
} */
/* .features-list:not(:first-child) {
  margin-left: 30px;
}
.features-list {
  width: 270px;
} */
/* .features-list::before {
  content: "";
  height: 120px;
  display: block;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}
.icon-clock::before {
  background-image: url(../img/clock.svg);
}
.icon-diagram::before {
  background-image: url(../img/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../img/astronaut.svg);
} */
/* .features-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
}
.features-icon {
  width: 70px;
  height: 70px;
} */
/* .works-list:not(:first-child) {
  margin-left: 30px;
}
.works-list {
  width: 370px;
}
.work-thumb {
  position: relative;
} */
/* .our-team {
  text-align: center;
} */
/* .team-member:not(:first-child) {
  margin-left: 30px;
}
.team-member {
  width: 270px;
}
.team-info {
  padding: 30px 32px 24px;
} */
/* .clients-list:not(:first-child) {
  margin-left: 30px;
}
.company-list {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */
/* .social-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--effect-color);
} */
/* .link-footer:hover,
.link-footer:focus {
  background-color: var(--accent-color);
}
.link-footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
} */
/* .social-list-item:not(:first-child) {
  margin-left: 10px;
} */

/* .function {
  visibility: hidden;
  line-height: 0;
} */
/* .features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-item {
  line-height: 1.71;
  color: var(--title-text-color);
} */
/* .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--effect-color);
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
} */
/* .team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team {
  background: #f5f4fa;
} */
/* .team,
.our-clients {
  padding-top: 94px;
} */
/* .profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 16px;
  margin-top: 10px;
} */
/* .team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
} */
/* .social-link a:hover,
.social-link a:focus {
  background-color: var(--accent-color);
  fill: var(--effect-color);
  border-radius: 50%;
}
.social-link a {
  transition: all 250ms var(--timing-function);
  border-radius: 50%;
  fill: #afb1b8;
} */
/* .clients a:hover,
.clients a:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.clients a {
  fill: #afb1b8;
  transition: all 250ms var(--timing-function);
} */
/* footer */
/* footer {
  background: #2f303a;
  color: var(--effect-color);
}
.copyright {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  width: 310px;
}
.copyright-info {
  display: flex;
  padding: 18px 415px 21px;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-item {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
address {
  font-style: normal;
} */
/* .footer-container,
.social-link,
.social-link-footer {
  display: flex;
} */
/* .footer-container {
  padding-top: 45px;
  padding-bottom: 28px;
  align-items: baseline;
  justify-content: space-between;
}
.address-container {
  width: calc((100% - 60px) / 4);
}
.address-list {
  flex-direction: column;
  display: flex;
}
.subscribe-form {
  width: calc((100% - 60px) / 2);
}
.subscribe {
  width: calc((100% - 60px) / 4);
} */

/* .footer-social:not(:first-child) {
  margin-left: 10px;
} */

/* portfolio */
/* buttons */
/* .btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  height: 38px;
  padding: 6px 22px;
  border: 0px;
  transition: all 250ms var(--timing-function);
}
.btn:hover,
.btn:focus {
  background: var(--accent-color);
  color: var(--effect-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  outline: none;
} */
/* projects */
/* .projects-title {
  visibility: hidden;
  line-height: 0;
  margin: 0;
}
.project-item {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}
.projects-scroll {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.project-list {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);
}
.project-list:hover,
.project-list:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-list:hover .overlay,
.project-list:focus .overlay {
  opacity: 1;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  height: 100%;
  width: 100%;
  transform: translateY(0);
}
.picture {
  position: relative;
  overflow: hidden;
}
.project-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.project-list:nth-child(3n) {
  margin-right: 0;
}
.project-list:nth-child(n + 4) {
  margin-top: 30px;
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.project-discription {
  padding: 20px 24px;
} */
/* .button-list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}
.btn:not(:first-child) {
  margin-left: 8px;
} */
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
/* .icon {
  width: 20px;
  height: 20px;
} */
/* .social-list-item:not(:first-child) {
  margin-left: 10px;
} */
/* .sub-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.sub-btn {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form > input[type="text"] {
  width: 358px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  outline: none;
  padding: 15px;
}
.footer-form {
  display: flex;
}
.subcribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  color: #757575;
  outline: none;
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.form-field {
  margin-bottom: 28px;
  position: relative;
}
.form-field label {
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.agreement,
.comment {
  color: #757575;
}
.agreement a {
  text-decoration: underline;
  color: #2196f3;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  transform: translate(-25px, -40px);
}
.form-area:focus + .form-label-area,
.form-area:not(:placeholder-shown) + .form-label-area {
  color: #2196f3;
  transform: translate(-5px, -40px);
}
.form-label-area {
  position: absolute;
  top: 280px;
  left: 20px;
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}
.form-area:focus {
  border: 1px solid #2196f3;
}
.form-input {
  padding: 12px 18px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}
.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: black;
  transform: translateY(-50%);
}
.form-input:focus ~ .form-icon {
  fill: #2196f3;
}
.close-button {
  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}
.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--effect-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 250ms var(--timing-function);
}
.close-btn:focus,
.close-btn:hover {
  fill: var(--accent-color);
  border-radius: 50%;
  outline: none;
}
form > .modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  margin-right: 8px;
  border-radius: 4px;
  margin-left: 12px;
  transition: all 250ms var(--timing-function);
  transform: translateY(3px);
} */
/* .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 12px;
} */
/* .checkbox:checked + .checkbox-icon::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
.checkbox,
.checkbox-label {
  display: inline-flex;
  align-items: center;
} */
